body {
    background-color: lavender;
}
.header_section {
    background-color: rgb(168, 141, 221);
    display: flex;
    text-align: center;
    display: block; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_section {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.work_section_lr1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:  rgb(206, 197, 224);
    padding-bottom: 50px;
}

.switch_lr {
    background-color: rgb(206, 197, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}