.main_section_lr2 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    flex-wrap: wrap;
}
.main_section_lr2 aside {
    text-align: center;
}

.work_section_lr2 {
    background-color:  rgb(206, 197, 224);
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
}

.work_section_lr2 aside {
    text-align: center;
}

.work_section_lr2_label {
    font-size: 16px;
    color: #555;
    display: block;
    margin: 10px 0 5px;
}
.work_section_lr2_select, input {
    width: 75%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#fruit-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

#fruit-list li {
    background-color: #f1f3f5;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#result, #result_bc {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #333;
    font-weight: bold;
}