/*  Секція 1  */
header img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.logo-container {
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    align-items: center; /* Центрування по вертикалі */
}

.logo-container img {
    margin-right: 10px; /* Відступ між зображенням та текстом */
}

.span-bold {
    font-weight: 600;
}

.header-text {
    margin-top: 30px;
    margin-left: 50px;
}

/*  Секція 2  */
.sect2 {
    padding-top: 20px;
    padding-left: 20px;
}

.sect2 ul {
    padding-left: 50px;
    list-style-type: disc;
}

.sect2 h3 {
    padding-left: 10px;
    padding-bottom: 20px;
}

.sect2 button {
    margin-left: 200px;
    display: block;
    width: 177px;
    height: 45px;
    font-size: 1.1em;
    border: 2px solid #a1edd1; 
    color: #a1edd1; 
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateX(-50%);   
}

.sect2 button:hover {
    background-color: #a1edd1; 
    color: white; 
    box-shadow: 0 4px 8px #a1edd1;
}


/*  Секція 3  */
.fixed-twoRow-size-nav {
    position: relative; /* Базове позиціювання для контейнера */
    text-align: center;
}

.fixed-twoRow-size-nav li {
    padding-top: 65px;
}

.fixed-twoRow-size-nav h3:hover {
    font-weight: bold; 
    transition: all 0.2s ease;
}

.menu-bg-img {
    height: 697px;
    width: 100%;
    opacity: 0.2;
    border-radius: 100px;
    position: absolute; /* Позиціювання зображення позаду тексту */
    top: 0;
    left: 0;
    z-index: 0;
}

.fixed-twoRow-size-nav nav {
    position: relative;
    z-index: 2; /* Розташування тексту поверх зображення */
    padding: 20px; /* Додаткові відступи, щоб текст не стикався з краями */
}

/*  Секція 3  */
.section4-center_text {
    padding-top: 30px;
    text-align: center;
}

.section4-center_text img {
    width: 250px;
    height: 250px;
    padding-bottom: 25px;
}

/*  Секція 5  */
.sect5-img-square {
    height: 190px;
    width: 270px;
    border-radius: 10px; 
}

.sect5-img-square:hover {
    height: 200px;
    width: 280px;
}   
.section5-center-text li {
    padding-top: 15px; 
}
.section5-center-text {
    text-align: center;
    padding-top: 20px;
}

/*  Секція 6  */
.sect6 {
    display: flex; 
    justify-content: space-between;
}

.sect6-h2-center {
    text-align: center;
    margin: 15px;
}

.sect6-left, .sect6-right {
    flex: 1;
    padding: 10px; 
}

.sect6-left {
    margin-right: 10px; 
}

.sect6-right img {
    height: 250px;
    width: 300px;
}

.sect6-left li {
    display: flex;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.sect6-left h3:hover {
    font-weight: 500;
}

.vector_img {
    background-color: #c4c0c0;
    height: 15px;
    width: 15px;   
    margin-right: 15px;
}
@media (max-width: 768px) {
    .sect6 {
        flex-direction: column; /* Змінює напрямок флекс-контейнера на колонку */
    }

    .sect6-left, .sect6-right {
        margin-right: 0; /* Прибирає відстань справа */
        padding: 10px; /* Залишає відступи, якщо потрібно */
    }
}