body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.text {
    font-size: 16px;
    color: #989595;
}

h1, h2, h3 {
    margin: 0;
    color: #c4c0c0;
}

h1 {
    font-size: 35px;
    font-weight: 500;
}

h2 {
    font-size: 28px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style-type: none; 
}
a {
    all: unset; /* Скидає всі стилі для елемента */
    cursor: pointer; /* Залишає курсор у вигляді руки для клікабельності */
}