.seventh_section {
    padding: 0;
    background-color: #F9F9F9;
}
.seventh_section_li_list {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.seventh_section_li_list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.seventh_section_li_list ul:not(:first-child) {
    margin-left: 120px; 
}

.seventh_section_li_list ul:nth-child(2) {
    margin-left: 230px; 
}

.seventh_section_img {
    margin-left: -20px;
}

.seventh_section h3 {
    margin-bottom: 20px;
}

.seventh_section_h3_hover:hover {
    cursor: pointer;
    font-weight: bold; 
    transition: all 0.2s ease;
}

.seventh_section_company_logo {
    display: flex;
    align-items: center;
}

.seventh_section_company_logo_img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    margin-bottom: 20px;
}