@import url('style_main_page.css');
span {
    font-weight: bold;
    color: brown;
}
.p_brown_Italic {
    color: brown;
    font-style: italic;
    font-weight: bold;
}
.p_underlined {
    text-decoration: underline;
}
.img_left {
    float: left;
    width: 35%;
    height: auto;
} 
.img_right {
    float: right;
    width: 35%;
    height: auto;
}
