.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
    flex-wrap: wrap;
}

.header_content {
    max-width: 600px;
    text-align: left;
}

.header_text {
    font-size: 18px;
    color: #4F5665;
    display: block; 
    margin-top: 20px;
    line-height: 1.5; 
}

.header_button {
    width: 250px;
    height: 60px;
    background-color: #F53838;
    color: white;
    border: 1px solid #F53838;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px #F53838;
}

.header_button:hover {
    background-color: white;
    color: #F53838;
}

.header_img img {
    width: 100%;
    max-width: 600px;
}

.header_footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Адаптивність для планшетів */
@media (max-width: 1024px) {
    .header_section {
        flex-direction: column;
        padding: 50px 20px;
        text-align: center;
    }

    .header_content {
        max-width: 100%;
        text-align: center;
    }

    .header_text {
        font-size: 16px;
    }

    .header_button {
        width: 200px;
        height: 50px;
    }

    .header_img img {
        max-width: 80%;
        margin-top: 30px;
    }
}

/* Адаптивність для мобільних телефонів */
@media (max-width: 768px) {
    .header_section {
        padding: 30px 10px;
        flex-direction: column;
    }

    .header_content {
        max-width: 100%;
        text-align: center;
    }

    .header_text {
        font-size: 14px;
    }

    .header_button {
        width: 180px;
        height: 45px;
    }

    .header_img img {
        max-width: 100%;
        margin-top: 20px;
    }
}

.header_footer_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    gap: 80px; 
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.header_footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_footer_img {
    height: 55px;
    width: 55px;
}

.header_footer_text {
    text-align: left;
}

.header_footer_h3 {
    font-size: 24px;
    margin: 0;
}

.text {
    font-size: 16px;
    color: #4F5665;
}

.divider {
    font-family: 'Rubik', sans-serif;
    line-height: 1; 
    color: #4F5665; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
/* Адаптивність для менших екранів */
@media (max-width: 768px) {
    .header_footer_container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .divider {
        display: none; 
    }
}



