.second_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
    background-color: #FFFFFF;
    flex-wrap: wrap;
}

.second_section_left {
    max-width: 600px;
    width: 100%;
}

.second_section_right {
    max-width: 500px;
    width: 100%;
    margin-top: 40px;
}

.second_section_right h2 {
    font-size: 35px;
    font-weight: 500;
}

.second_section_right p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_section_right ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.second_section_right li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon {
    margin-right: 10px;
}

/* Адаптивність для планшетів (від 768px до 1024px) */
@media (max-width: 1024px) {
    .second_section {
        padding: 80px 50px; 
        flex-direction: column;
    }

    .second_section_left {
        max-width: 100%; 
    }

    .second_section_right {
        max-width: 100%; 
        text-align: center; 
    }

    .second_section_right h2 {
        font-size: 28px;
    }

    .second_section_right ul {
        padding: 0;
        margin-top: 20px;
    }

    .second_section_right li {
        font-size: 16px; 
    }
}

/* Адаптивність для мобільних пристроїв (до 768px) */
@media (max-width: 768px) {
    .second_section {
        padding: 50px 20px;
        flex-direction: column;
    }

    .second_section_left {
        max-width: 100%;
        margin-bottom: 30px; 
    }

    .second_section_right {
        max-width: 100%; 
        text-align: center; 
    }

    .second_section_right h2 {
        font-size: 24px; 
    }

    .second_section_right li {
        font-size: 14px; 
    }
}
