h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 64px; 
}
h2 {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 28px; 
}
h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 20px;
}
.h3_contacts {
    font-size: 18px;
    margin-bottom: 0px;
    color: black;
}
.text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    margin-left: 10px; 
    margin: 10px; 
}